body
{
	/*background-image:url(image/map.png);*/
	background-image:url(image/paper.png);
	background-color: #2B2C29;
}
a
{
	text-decoration:none;
	color: white;
}
a:hover
{
	color: black;
}
table
{
	color:black;
}
form
{
	display: flex;
	flex-direction: column;
	width: 450px;
	color: black;
	min-height: 800px;
	margin:  100px auto;
	
}
input
{
	margin: 10px 0;
	padding: 10px;
	cursor: pointer;

 }
textarea{
 	width: 300px;
 	height: 300px;
}
.exitadmin
{
	border:2px solid black;
	width: 150px;
	font-size: 25px;
	background-color: #AFAFAF;
}
.table
{
	width: 320px;
	min-height: 50px;
	background-color: #AFAFAF;
}
.user
{
	width: 360px;
	min-height: 50px;
	background-color: #AFAFAF;
}
.body
{
	width: 1200px;
	min-height: 2000px;
	background-color: white;
	border-radius: 22px;
	background-color: #FEEED7;
	margin: auto;
}
.bodyads
{
	width: 1200px;
	min-height: 1200px;
	background-color: white;
	border-radius: 22px;
	background-color: #FEEED7;
	margin: auto;
}
.logo
{
	width: 300px;
	height: 60px;
	margin: auto;
	background-position: center;
	background-size: 800px 70px;
	
}

.head
{
	width: 1200px;
	height: 60px;
	text-align: center;
	font-size: 50px;
	color: white;
	font-family: "title_font";
	background-color: #121824;
	border-top-right-radius: 22px;
	border-top-left-radius: 22px;
	
}
.content
{
	width: 1200px;
	min-height: 2000px;
}
.contentads
{
	width: 1200px;
	height: 1200px;
}
.height_menu
{
	width: 1200px;
	height: 40px;
	display: flex;
	background-color: #4D3E35;

}

.we,
.world,
.my_office,
.mechanics,
.ads,
.update_news
{
	height: 40px;
	width: 190px;
	border-right:2px white solid;
	font-family: "LagodaClassic";
  	text-align: center;
  	font-size: 25px;

  	
}
.my_office
{
	font-size: 20px;
}
.ads
{
	font-size: 20px;
}
.we
{
	border-right:none
	
}
.contentwe{
	width: 1200px;
	height: 1000px;
}
.bodywe
{
    width: 1200px;
	min-height: 900px;
	background-color: white;
	border-radius: 22px;
	background-color: #FEEED7;
	margin: auto;
}
.bodymeh
{
	width: 1200px;
	min-height: 600px;
	background-color: white;
	border-radius: 22px;
	background-color: #FEEED7;
	margin: auto;
}
.contentmeh
{
	width: 1200px;
	height: 600px;
	display: flex;
}
.we_text
{
	width:800px;
	height:650px;
	border-top-left-radius:22px; 
	border-bottom-right-radius:22px;
	margin: auto;
	margin-top:100px;
	font-family: "FOR_NEWS";
	font-size: 25px;
	color: #BFBFB1;
	background-color: #22272B;
	padding-left: 15px;
	padding-top: 15px;
}

.mechanics_content
{
	width: 950px;
	height: 400px;
	background-color: #8E9297;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 110px;
	display: flex;
}
.world_text
{
	width:1000px;
	height:100px;
	border-top-left-radius:22px; 
	border-bottom-right-radius:22px;
	margin-top: 25px;
	margin-left:33px;
	color: #BFBFB1;
	background-color: #22272B;
	padding-left: 15px;
	padding-top: 15px;
}
.mechanics_text
{
	width:550px;
	height:350px;
	border-top-left-radius:22px; 
	border-bottom-right-radius:22px;
	margin-top: 25px;
	margin-left:33px;
	color: #BFBFB1;
	background-color: #22272B;
	padding-left: 15px;
	padding-top: 15px;
}


.a1
{
	width: 5px;
}



.new
{
	width: 1080px;
	min-height: 200px;
	background-color: #22272B;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 55px;
}

.what
{
	color: black;
	width: 500px;
	min-height: 50px;
	font-size: 43px;
	text-align: center;
	background-image: url(image/paper.png);
	border-top-right-radius:22px;
	background-color:#D7D9DA;
	font-family: "Typewritten";
}
.news_text
{
	margin-left: 15px;
	color: #BFBFB1;
	font-family: "FOR_NEWS";
}
.futer 
{
	width: 1197px;
	height: 50px;
	text-align: center;
	background-color: #121824;
	border: 2px solid black;
	border-bottom-left-radius: 22px;
	border-bottom-right-radius: 22px;
}
.futer > a 
{
	color: red;
	margin-left:5px; 
	margin: auto;
}
.ures_Office
{
	
	width: 250px;
    height: 650px;
    background:url(image/Left_menu.png);
    padding: none;
    left: 10px;
    float: left;
    margin-left: 15px;
    margin-top: 25px;
    
}
.time_ads_game
{
	width:75%;
	height: 100px;
	border:2px solid black;
	background-color:#22272B;
	border-bottom-right-radius:25px;
	margin-bottom:50px;
}
.ads_text
{
 font-family:"FOR_NEWS";
}
.description_ads
{
 width:75%;
 height: 100px;
 font-family:"FOR_NEWS";
 
 font-size: 20px;
 background-color: #D7D9DA;
}
.submit_allowance
{
	width: 150px;
	float: left;
}
.submit_allowance:nth-child(3)
{
 margin-left: 45px;
}

.content_menu
{
	width: 240px;
	height: 440px;
	text-align: center;
	color: white;	
}

@font-face{
	font-family: "title_font";
	src: url(fonts/18500.otf);
}
@font-face{
	font-family: "FOR_NEWS";
	src: url(fonts/test_fonts1.ttf);
}
@font-face{
	font-family: "title";
	src: url(fonts/Titel.ttf);
}
@font-face{
	font-family: "Typewritten";
	src: url(fonts/Typewritten.ttf);
}
@font-face{
	font-family: "LagodaClassic";
	src: url(fonts/LagodaClassic.otf);
}
 .text_edit
 {
 	width: 300px;
 	height: 200px;
 }
 .msg
 {
 	width: 200px;
 	height: 50px;
 	color: white;
 	font-size: 25px;
 	border: 2px solid red;
 	background-color: red;
 }